<form nz-form nzLayout="vertical" [formGroup]="productEditForm" >
    <nz-tabset class="page-header-tab">
        <nz-tab nzTitle="Basic Info">
            <nz-card>
                <nz-form-item>
                    <nz-form-label nzFor="productName">Product Name</nz-form-label>
                    <nz-form-control nzErrorTip="Please input this field!">
                        <input nz-input formControlName="productName" type="text">
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label nzFor="price">Price</nz-form-label>
                    <nz-form-control nzErrorTip="Please input this field!">
                        <nz-input-group [nzPrefix]="pricePrefix">
                            <input nz-input formControlName="price" type="text">
                        </nz-input-group>
                        <ng-template #pricePrefix>
                            <span>$</span>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label nzFor="category">Category</nz-form-label>
                    <nz-form-control nzErrorTip="Please input this field!">
                        <nz-select formControlName="category" class="w-100">
                            <nz-option nzLabel="Facial Care" nzValue="Cloths"></nz-option>
                            <nz-option nzLabel="Body Care" nzValue="Home Decoration"></nz-option>
                            <nz-option nzLabel="Make-up" nzValue="Eletronic"></nz-option>                            
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label nzFor="brand">Brand</nz-form-label>
                    <nz-form-control nzErrorTip="Please input this field!">
                        <input nz-input formControlName="brand" type="text">
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label nzFor="status">Status</nz-form-label>
                    <nz-form-control nzErrorTip="Please input this field!">
                        <nz-select formControlName="status" class="w-100">
                            <nz-option nzLabel="In Stock" nzValue="In Stock"></nz-option>
                            <nz-option nzLabel="Out of Stock" nzValue="Out of Stock"></nz-option>
                            <nz-option nzLabel="Pending" nzValue="Pending"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </nz-card>
        </nz-tab>
        <nz-tab nzTitle="Option Info">
            <nz-card >
                <nz-form-item>
                    <nz-form-control nzErrorTip="Please input this field!">
                        <nz-form-label nzFor="size">Status</nz-form-label>
                        <nz-select formControlName="size" class="w-100" nzMode="multiple">
                            <nz-option nzLabel="40" nzValue="40"></nz-option>
                            <nz-option nzLabel="42" nzValue="42"></nz-option>
                            <nz-option nzLabel="44" nzValue="44"></nz-option>
                            <nz-option nzLabel="46" nzValue="46"></nz-option>
                            <nz-option nzLabel="48" nzValue="48"></nz-option>
                            <nz-option nzLabel="50" nzValue="50"></nz-option>
                            <nz-option nzLabel="50" nzValue="50"></nz-option>
                            <nz-option nzLabel="52" nzValue="52"></nz-option>
                            <nz-option nzLabel="54" nzValue="54"></nz-option>
                            <nz-option nzLabel="56" nzValue="56"></nz-option>
                            <nz-option nzLabel="58" nzValue="58"></nz-option>
                            <nz-option nzLabel="60" nzValue="60"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-control nzErrorTip="Please input this field!">
                        <nz-form-label nzFor="colors">Colors</nz-form-label>
                        <nz-select formControlName="colors" class="w-100" nzMode="multiple">
                            <nz-option nzLabel="Dark Blue" nzValue="Dark Blue"></nz-option>
                            <nz-option nzLabel="Gray" nzValue="Gray"></nz-option>
                            <nz-option nzLabel="Gray Blue" nzValue="Gray Blue"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-control nzErrorTip="Please input this field!">
                        <nz-form-label nzFor="fit">Fit</nz-form-label>
                        <nz-select formControlName="fit" class="w-100">
                            <nz-option nzLabel="Skinny" nzValue="Skinny"></nz-option>
                            <nz-option nzLabel="Slim" nzValue="Slim"></nz-option>
                            <nz-option nzLabel="Regular" nzValue="Regular"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-control nzErrorTip="Please input this field!">
                        <nz-form-label nzFor="material">Material</nz-form-label>
                        <nz-select formControlName="material" class="w-100" nzMode="tags"></nz-select>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-control nzErrorTip="Please input this field!">
                        <nz-form-label nzFor="shipFrom">Ship From</nz-form-label>
                        <nz-select formControlName="shipFrom" class="w-100">
                            <nz-option nzLabel="Columbia" nzValue="Columbia"></nz-option>
                            <nz-option nzLabel="Brazil" nzValue="Brazil"></nz-option>
                            <nz-option nzLabel="Chile" nzValue="Chile"></nz-option>
                            <nz-option nzLabel="Argentina" nzValue="Argentina"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </nz-card>
        </nz-tab>
        <nz-tab nzTitle="Description">
            <nz-card>
                <quill-editor formControlName="description" [style]="{height: '250px'}" [modules]="editorConfig" placeholder=""></quill-editor>
            </nz-card>
        </nz-tab>
        <nz-tab nzTitle="Product Images">
            <nz-card>
                <nz-upload
                    nzAction="https://jsonplaceholder.typicode.com/posts/"
                    nzListType="picture-card"
                    [(nzFileList)]="fileList"
                    [nzShowButton]="fileList.length < 15"
                    [nzPreview]="handlePreview">
                    <i nz-icon nzType="plus"></i>
                    <div class="ant-upload-text">Upload</div>
                </nz-upload>
                <nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null" (nzOnCancel)="previewVisible=false">
                    <ng-template #modalContent>
                        <img [src]="previewImage" [ngStyle]="{ 'width': '100%' }" />
                    </ng-template>
                </nz-modal>
            </nz-card>
        </nz-tab>
    </nz-tabset>  
    <button nz-button nzType="primary" (click)="save()">
        <i nz-icon nzType="save" theme="outline"></i>
        <span>Save</span>
    </button>
</form>  